## Variables and Data types (int, float, str)

# âœ… 1. Check Type of a Variable

In [19]:
# Use type() function:

x = 10
y = 3.14
z = "100"

print ("ðŸ“Œ Output:")
print(type(x))   # <class 'int'>
print(type(y))   # <class 'float'>
print(type(z))   # <class 'str'>

ðŸ“Œ Output:
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>

# ðŸ”„ 2. Convert int to float

In [32]:
a = 10  #int
b = float(a) #convert to float

print ("ðŸ“Œ Output:")
print (b, type (b)) ## 10.0 <class 'float'>

ðŸ“Œ Output:
10.0 <class 'float'>

# ðŸ”„ 3. Convert float to int

In [41]:
x = 10.20 #float
y = int (x) #convert to int

print ("ðŸ“Œ Output:")
print (y, type(y)) ## 10 <class 'int'>

ðŸ“Œ Output:
10 <class 'int'>

# ðŸ”„ 4. Convert int to str

In [55]:
x = 100 #int
text = str(x) #assigned and converted x to variable

print ("ðŸ“Œ Output:")
print (text, type (text) ) #converted and verified its type

ðŸ“Œ Output:
100 <class 'str'>

# ðŸ”„ 4. Convert float to str

In [66]:
x = 100.10 #float
text = str(x) #assigned and converted x to variable

print ("ðŸ“Œ Output:")
print (text, type (text)) #converted and verified its type

ðŸ“Œ Output:
100.1 <class 'str'>

# ðŸ”„ 5. Convert str to int

In [91]:
x = "100" #str
print (type (x)) #type of x

y = int (x) #converted str into int

print ("ðŸ“Œ Output:")
print (y, type (y)) #converted and verified its type

<class 'str'>
ðŸ“Œ Output:
100 <class 'int'>

# ðŸ”„ 6. Convert str to floatÂ¶

In [93]:
x = "200.15"
print (type(x)) #type of x

y = float(x ) #converted str into float

print ("ðŸ“Œ Output:")
print (y, type (y)) #converted and verified its type

<class 'str'>
ðŸ“Œ Output:
200.15 <class 'float'>